
/* inspired https://www.freecodecamp.org/news/numbering-with-css-counters/ */
/* https://codesandbox.io/s/github/hadriengerard/spinning-wheel-game-react?file=/src/index.js:205-289 */
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";
body{
    margin:20%;
    padding:10px;
    text-align: center;
    
}
#menu {
    list-style-type: none;
    counter-reset: css-counter 0; /* initializes counter to 0; use -1 for zero-based numbering */
  }
  
  #menu  p {
    counter-increment: css-counter 1; /* Increase the counter by 1. */
  }
  
  #menu  p:before {
    content: counter(css-counter) ". "; /* Apply counter before children's content. */
  }


:root {
  --app-font: 'Quicksand', 'Lato', sans-serif;
  --neutral-color: white;
}

.App {
  font-family: var(--app-font);
  text-align: center;
  background: var(--neutral-color);
  user-select: none;
}
